footer[data-color="main"]{
--background-color: #171123;
transition: background-color 200ms linear;
}

footer[data-color="linked_in"]{
--background-color: #0072b1;
transition: background-color 300ms linear;
}

footer[data-color="github"]{
--background-color: #0FBF3E;
transition: background-color 300ms linear;
}

footer[data-color="cv"]{
--background-color: #848469;
transition: background-color 300ms linear;
}

footer{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: var(--background-color);
    padding: 80px 0 150px;
}

a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: brown;
    font-size: 40px;
    border-radius: 15px;
}

.linkedin{
    color: white;
    background-color: #0072b1;
}


.github{
    color: #101411;
    background-color: #0FBF3E;
}

.cv{
    background-color: #848469;
    color: #dfdfdf;
}

a:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}