#about {
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto 100px;
}

#projects {
  border-bottom: 3px solid #ffb20f;
}

.project img {
  width: 120px;
  height: auto;
  position: relative;
  border-radius: 5%;
  transition-property: transform, width;
  transition-duration: 200ms;
}

.project a {
  margin: auto 0;
}

.project {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  padding: 20px;
  border-top: 3px solid #ffb20f;
  height: 120px;
}

.project h1 {
  margin: auto 0 auto 50px;
  font-size: 80px;
  color: #ffb20f;
  text-shadow:
    2px 0 0 #000,
    0 -1px 0 #000,
    0 1px 0 #000,
    -2px 0 0 #000;
}

.project a {
  text-decoration: none;
}

.project:hover img {
  width: 400px;
  height: auto;
  bottom: 50px;
  transform: rotate(-17deg);
  transition-property: transform, width;
  transition-duration: 200ms;
  z-index: 100;
}

@media (min-width: 1000px) {
  .grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .lottie {
    height: 540px;
    width: 540px;
  }
  .project {
    height: 120px;
  }
}

@media (max-width: 1000px) {
  .lottie {
    height: 400px;
    width: 400px;
  }

  .mobilecenter {
    display: flex;
    justify-content: center;
  }

  .project img {
    display: none;
  }

  .project h1 {
    font-size: 40px;
  }
}
